---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
    <Nav />
    <main>
        <h1 class="text-text dark:text-dark-text text-2xl font-medium text-center mt-20">404 : sorry the page doesn't exist. Please visit <a href="/" class="font-bold underline">Home</a>.</h1>
    </main>
</Layout>