---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
    <Nav />
    <div class="flex">
        <li>a</li>
        <li>b</li>
    </div>
</Layout>