---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro"
import Banner from "../components/Banner"
---

<Layout>
	<Nav />
	<Banner client:load />	
	<div class="flex">
  		<p class="bg-primary text-text">Primary</p><p class="bg-dark-primary text-dark-text">Primary</p>
		<p class="bg-secondary text-text">Secondary</p><p class="bg-dark-secondary text-dark-text">Secondary</p>
		<p class="bg-accent text-text">Accent</p><p class="bg-dark-accent text-dark-text">Accent</p>
		<p class="bg-bg text-text">Background</p><p class="bg-dark-bg text-dark-text">Background</p>
		<p class="bg-text text-dark-text">Text</p><p class="bg-dark-text text-text">Text</p>
	</div>
</Layout>